*{
    margin: 0;
    box-sizing: border-box;
}

#header {
    padding:20px 3vh 10px 0;
    background-color: lightyellow;
}

#header p{
    margin:10px 0;
    text-align: end;
}

.title *{
    vertical-align: middle;
    font-size: 16pt;
    font-weight: 700;
}

.scoreboard{
    font-size: 16pt;
    font-weight: 700;
    color: grey;
}

.timesboard{
    font-size: 16pt;
    font-weight: 500;
}



#cards{

    padding: 3vh 3vh;
    background-color: aqua;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    margin: 0.3vw;
    border:2px solid black;
    background-color: #eee;

    flex: 1 1 7%;
    height: 8vw;
}

.card-front-side{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-front-side p{
    margin: 3px;
    font-size: 10px;
}

.card-front-side img{
    max-width: 30%;
    align-self: center;
}

.card-front-side p:last-child{
    transform: rotate(180deg);
}

.card-back-side{

    background-image: url(resources/ExportedContentImage_00.png);
    background-size: contain;
}

.card-paired{
    background-color: #dae0e3;
}

.card-wrong{
    animation-name: wrongAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
}

@keyframes wrongAnimation {
    to {
        border: 2px solid #ffd54f;
    }
}

.completed {
    position: absolute;
    width: 100vw;
    height: 10vh;
    margin-top: 30vh;
    padding-top: 1.5vh;

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(230, 230, 0, 0.5);
}

.completed > p:first-child{

    font-size: 24px;
    font-weight: bold;
    color:darkblue;
}